.col-md-3 {
    display: inline-block;
    margin-left: -4px;
}

.carousel-item.active {
    display: flex;
}

.carousel-indicators .active {
    background-color: blue;
}

.col-md-3 div.card-img-div {
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: 50%;
}

div.card-img-div > img {
    height: 101%;
    width: auto;
}

body .carousel-indicator li {
    background-color: blue;
}

body .carousel-indicators {
    bottom: -50px;
}

body .carousel-control-prev-icon,
body .carousel-control-next-icon {
    background-color: blue;
}

body .no-padding {
    padding-left: 0,
    padding-right: 0;
}

.carousel-inner {
    width: 67%;
    margin: auto;
}

.cat-title {
    padding-top: 50px;
    text-align: center;
    font-size: xxx-large;
}

.slide-separator {
    position: relative;
    bottom: -35px;
}

.card .card-text {
    height: 10rem;
}

.card {
    width: 18rem;
    height: 36rem;
    overflow: hidden;
}

