* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
}

.col-md-3 {
    display: inline-block;
    margin-left: -4px;
}

.carousel-item.active {
    display: flex;
}

.carousel-indicators .active {
    background-color: blue;
}

.col-md-3 div.card-img-div {
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: 50%;
}

div.card-img-div > img {
    /*max-height: auto;*/
    min-height: 101%;
    min-width: 100%;

    /*max-width: auto;*/
}

body .carousel-indicator li {
    background-color: blue;
}

body .carousel-indicators {
    bottom: -50px;
}

body .carousel-control-prev-icon,
body .carousel-control-next-icon {
    background-color: blue;
}

body .no-padding {
    padding-left: 0,
    padding-right: 0;
}

.carousel-inner {
    width: 67%;
    margin: auto;
}

.cat-title {
    padding-top: 45px;
    text-align: center;
    font-size: xxx-large;
}

.slide-separator {
    position: relative;
    bottom: -35px;
}

.card .card-text {
    height: 10rem;
}

.card {
    width: 18rem;
    height: 36rem;
    overflow: hidden;
}

h4:first-child {
    margin-top: 30px;
}

ul.card-tags {
    padding-left: 0;
    display: inline-flex;
    justify-content: start;
}

ul.card-tags li:first-child {
    margin-left: 0.1rem;
}

ul.card-tags li {
    list-style: none;
    margin: 0 0.2rem 0;
    padding: 0 0.5rem 0;

    font-weight: bold;
    font-size: small;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

main {
    width: 100em;
}

.row {
    display: flex;
    justify-content: center;
}
