.container:first-of-type {
    margin-top: 40px;
}

h1 {
    text-align: center;
}

#contact-form {
    width:70rem;
    margin: auto;
    padding: auto;
}

#contact-form > div {
    padding: 6px;
    margin: auto;
}

#remember-me, #remember-me-label {
    position: relative;
    right: -40px;
}

#issue-box {
    height: 150px;
}

#email-field {
    height: 40px;
}

#issue-box-span {
    width: 100px;
    white-space: wrap;
}

form > div.row{
    display: flex;
    justify-content: space-between;
}
