{% extends 'Shop/basic.html' %}
{% load static %}

{% block Title %} Contact {% endblock %}
{% block CustomStyles %} {% static 'Shop/styles/shop-contact-styles.css' %} {% endblock %}

{% block MainContent %}
 <div class="container">
  <h1>Contact Us</h1>
  <form action="/shop/contact/" class="form-control" id="contact-form" method="post">
   {% csrf_token %}

   <div class="input-group">
    <span class="input-group-text">First and last name</span>
    <input type="text" aria-label="First name" class="form-control" name="f-name">
    <input type="text" aria-label="Last name" class="form-control" name="l-name">
   </div>

   <div class="input-group mb-0">
    <span class="input-group-text">Your Email</span>
    <input type="email" class="form-control" id="email-field" placeholder="name@example.com" name="email">
   </div>

   <div class="input-group mb-3">
    <span class="input-group-text">Your Phone Number</span>
    <span class="input-group-text">+91</span>
    <input type="text" class="form-control" maxlength="10" name="phone">
   </div>

   <div class="input-group mb-1">
    <label class="input-group-text" for="inputGroupFile01">Include a picture</label>
    <input type="file" class="form-control" id="inputGroupFile01" name="uploaded-pic">
   </div>

   <div class="input-group">
    <span class="input-group-text" id="issue-box-span">Describe Your Issue</span>
    <textarea class="form-control" id="issue-box" rows="5" placeholder="" name="issue"></textarea>
   </div>

   <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" value="on" id="remember-me" name="updates">
    <label class="form-check-label" for="remember-me" id="remember-me-label">
     Keep Me Updated
    </label>
   </div>

   <div class="row">
    <button class="btn btn-success col-md-3" type="submit" value="submit">Submit</button>
    <button class="btn btn-success col-md-3" type="reset" value="submit">Reset</button>
   </div>
  </form>
 </div>
{% endblock %}
