{% extends 'Shop/basic.html' %}
{% load static %}

{% block Title %} Home {% endblock %}
{% block CustomStyles %} {% static 'Shop/shop-index-style.css' %} {% endblock %}

{% block MainContent %}
 <div id="product-cards" class="carousel slide">
  <div class="carousel-indicators">
   {% for idx in buttons %}
    <button type="button" data-bs-target="#product-cards" data-bs-slide-to="{{ idx }}" {% if idx == 0 %}class="active"
            aria-current="true"{% endif %} aria-label="Slide {{ idx }}"></button>
   {% endfor %}
  </div>

  <div class="carousel-inner">
   {% for idx, products in slides %}
    <div class="carousel-item {% if idx == 0 %}active{% endif %}">
     {% for product in products %}
      <div class="col-xs-3 col-sm-3 col-md-3">
       <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
         <h5 class="card-title">Card title</h5>
         <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
         <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
       </div>
      </div>
     {% endfor %}
    </div>
   {% endfor %}
  </div>
   <button class="carousel-control-prev" type="button" data-bs-target="#product-cards" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
   </button>
   <button class="carousel-control-next" type="button" data-bs-target="#product-cards" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
   </button>

 </div>
{% endblock %}

