{% extends 'Shop/basic.html' %}
{% load static %}
{% load string_methods %}
{% load range_func %}

{% block Title %} {{ product.product_name }} {% endblock %}
{% block CustomStyles %} {% static 'Shop/styles/shop-product-styles.css' %} {% endblock %}

{% block MainContent %}

 <div class="container">

  <div class="row">
   <div class="col-md-4">

    <div class="row img-cont">
     <img src="/media/{{ product.product_image }}" alt="product image here..." class="prod-img">
    </div>

    <div class="row action-buttons">
     <button class="btn btn-light text-dark col-md-6"><strong>Buy Now</strong></button>
     <button class="btn btn-light text-dark col-md-6"><strong>Add To Cart</strong></button>
    </div>

   </div>

   <div class="col-md-8">
    <h1 class="display-4" id="ProductHead"><strong>{{ product.product_name }}</strong></h1>
    <ul class="product-tags">
     {% for tag in product.product_subCategory|split:"," %}
      <li>{{ tag }}</li>
     {% endfor %}
    </ul>
    <hr>
    <span class="event">XYZ EVENT</span>
    <br><span class="old-price"><strike>₹XXXX</strike></span> <span class="discount">15% OFF</span>
    <p class="display-5 prod-price"><strong>₹{{ product.product_price }} /-</strong></p>
    <p class="desc-header">{{ product.product_description }}</p>

    <p class="desc">
    <ul class="desc-points">
     <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci cum debitis eligendi illo impedit inventore,
      iste minima molestias natus nihil nisi odit officia, porro quisquam, quos rem saepe veniam voluptatibus.
     </li>
     <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores autem ducimus eos et natus nemo nihil
      quasi repellat saepe voluptatem! Animi architecto cumque ex fugiat incidunt perspiciatis quae temporibus unde.
     </li>
     <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus atque consequatur debitis eveniet, id
      laudantium molestias nihil nobis officia omnis qui quo ratione, repellat sapiente similique ullam voluptates!
      Itaque, ut.
     </li>
    </ul>
    </p>
   </div>
  </div>

  <h3>Offers and Discounts:</h3>
  <div id="offers" class="row flex-nowrap overflow-auto">

   {% for i in offerrange %}
    <div class="card" style="width: 18rem;">
     <div class="card-body">
      <h5 class="card-title">Bank Name-{{ i }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">XX% Discount</h6>
      <p class="card-text"> Terms And Conditions</p>
      <ul class="tnc">
       <li>Lorem ipsum dolor sit amet.</li>
       <li>Lorem ipsum dolor sit amet.</li>
       <li>Lorem ipsum dolor sit amet.</li>
      </ul>
     </div>
    </div>
   {% endfor %}
  </div>

  <hr>

  <h3>Product Details: </h3>
  <table class="details-table table-bordered table-sm table table-hover">
   {% for i in detailsrange %}
    <tr>
     <th class="col-md-1" scope="row">{{ i }}</th>
     <td>Cat1</td>
     <td>Val1</td>
    </tr>
   {% endfor %}
  </table>

  <hr>
 </div>

 <div class="container" id="rev-cont">
  <h3>Revies and Ratings:</h3>

  <div class="give-review">
   <h5>Add your own review:</h5>
   <form action="/shop/{{ product.id }}/post-review" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="input-group">
     <span class="input-group-text">Name</span>
     <input type="text" name="UserName" class="form-control">
     <span class="input-group-text">Email</span>
     <input type="email" name="UserEmail" class="form-control">
    </div>

    <div class="input-group">
     <label class="input-group-text" for="inputGroupFile01">Upload</label>
     <input type="file" class="form-control" id="inputGroupFile01" name="reviewimage">
    </div>

    <div class="form-floating">
    <textarea name="ReviewContent" id="idk" rows="3" placeholder="Type you Review Here"
              class="form-control"></textarea>
     <label for="idk" class="form-label">Type Your Review Here</label>
    </div>

    <div class="form-row" id="rating-row">
     <span id="head">Give a rating:</span>
     {% for k in 5|num_range %}
      <div class="form-check form-check-inline rating-form">
       <input type="radio" class="form-check-input rating-form-check" value="{{ k }}" id="rating-check-{{ k }}"
              name="rating-radio">
       <label for="rating-check-{{ k }}" class="fa-regular fa-star"></label>
       <label for="rating-check-{{ k }}" class="fa-solid fa-star"></label>
      </div>
     {% endfor %}
    </div>
    <div class="row d-flex justify-content-around">
     <button type="submit" class="btn btn-light col-md-4">Submit</button>
     <button type="reset" class="btn btn-light col-md-4" id="reset-review">Reset</button>
    </div>
   </form>

  </div>

  <br>


  {% for review in reviewsrange %}

   <div class="review">
    <h6>User-{{ review.review_user }}</h6>
    <p>Location: {{ review.review_user_location }}</p>

    <span>Ratings:
     {% for j in 5|num_range %}
      {% if j in review.ratings|num_range %}
       <i class="fa-solid fa-star"></i>
      {% else %}
       <span><i class="fa-regular fa-star"></i></span>
      {% endif %}
     {% endfor %}
    </span>
    <br>
    <img src="/media/{{ review.review_image }}" alt="...">
    <p>{{ review.review }}</p>
    <button class="btn btn-light">
     <i class="fa-regular fa-thumbs-up"></i>
    </button>
    <button class="btn btn-light">
     <i class="fa-regular fa-thumbs-down"></i>
    </button>
    <button type="button" class="btn btn-light reply">Reply</button>
    <br>
    <br>
    <hr style="width: 500px">
   </div>
  {% endfor %}
 </div>
{% endblock %}

{% block additionJs %}
 <script src="{% static 'Shop/scripts/shop-product-script.js' %}"></script> {% endblock %}
